.formdiv{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#ingSearch{
    width: 100%;
  padding: 12px 20px;
  margin: 50px 0;
  box-sizing: border-box;
}

h1 {
    color:hsl(204, 86%, 53%);
    font-size: 40px;
    text-align: center
}
#ingTitle1 {
    title-color: hsl(204, 86%, 53%);
}
h2{
    text-align: Center
}
h3 {
    padding-left: 30px;
}
h4 {
    padding-left: 30px
}

#recipeFeed {
    display: inline-block;
    margin: auto;
}

#compFeed {
    display: inline-block;
    margin: auto; 
}
#compSearch{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.card{
    display: inline-block;
}


li {
    flex: 1 1 auto;
}
